.intro{
 background: url(../img/shhart-momo.jpg) top center no-repeat #000;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
    height:120%;

}

.intro .intro-body{
    vertical-align:top;
    padding-top:8%;
    }

h1{
    font-family: 'Montserrat', Trebuchet, sans-serif;
    color:black;

}


h2{
    font-family: 'Montserrat', Trebuchet, sans-serif;
    font-size: 36px;
}



p.intro-text{
    color:black;
}

/*nav bar custom colors*/
.navbar-custom a {
    color:#0090ff;
    font-weight:bold;
    font-size:16px;
}

.navbar-custom .nav li a:hover {
  color: #0c72c1;
  outline: none;
  background-color: transparent;
}

.navbar-custom.top-nav-collapse{
    background:black;
}

.navbar-custom .navbar-toggle{
    color: #0090ff;
}

.content-section{
 padding-top:75px;
}

/* scrolley down button */
.btn-circle{
    color:#0090ff;
    border: 2px solid #0090ff;
    background-color: rgba(155, 154, 154, 0.47);
}

.btn-circle:hover
{
 color:#0c72c1;
}


footer p {
    font-size:16px;
}

/* responsive videos */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    margin-bottom:25px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



/*Media queries start here */
@media screen  and (min-width:200px) and (max-width: 599px){
h1.brand-heading{
    margin-top: -45px;
}


p.intro-text{
    margin-top:-20px;
}

}

@media screen  and (min-width:768px) and (max-width: 1023px){

.intro .intro-body .brand-heading{

    font-size:65px;
    margin-top:20px;

    }

}
